<h2>Listing games</h2>

<% flash.each do |key, msg| %>
  <div id="<%= key %>">
    <p><%= msg %><p>
  </div>
<% end %>

<script type='text/javascript'>
  $(document).ready(function()
    {
      $("#myTable").tablesorter();
    }
  );
</script>

<table id="myTable" class="tablesorter">
<thead>
  <tr>
    <th>Title</th>
    <th>Players</th>
    <th>Completed</th>
    <th>Genre</th>
    <th>System</th>
    <th>Location</th>
    <!-- <th></th> -->
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @games.each do |game| %>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.players %></td>
    <td><%= game.completed.to_s.capitalize %></td>
    <td><%= game.genre %></td>
    <td><%= game.system %></td>
    <td><%= game.location %></td>
    <!-- <td><%= link_to 'Show', game %></td> -->
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Delete', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
